body {
    margin: 0;
    background-color: #aec9c3;
}

h1 {
    color: #ee5d5a;
    font-family: sans-serif;
    font-size: 470%;
    text-shadow: 3px 2px #2f3f56;
}

h3 {
    color: #ee5d5a;
    font-family: sans-serif;
    font-size: 250%;
}

h5 {
  color: #2f3f56;
  font-family: sans-serif;
}

.centered-wrapper {
    position: relative;
    text-align: center;
}
.centered-wrapper:before {
    content: "";
    position: relative;
    display: inline-block;
    width: 0; height: 40%; 
    vertical-align: middle;
}

.centered-content {
    display: inline-block;
    vertical-align: 40%;
}

.centered-content-two {
  display: inline-block;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.button {
    color: 2f3f56;
    background-color: #e6aa52;
    height: 3%;
    font-size: 100%;
  }

  .button:hover {
    background-color: #aec9c3;
  }

  .start {
    color: 2f3f56;
    background-color: #e6aa52;
    height: 4em;
    width: 7em;
    border-radius: 50% ;
    font-size: 108%;
    border-radius: 10% / 20%;
    box-shadow: 0px 3px 3px#2f3f56;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    padding: 10px;
    font-weight: bold;
  }

  .start:active {
    background-color: #e6aa52;
    box-shadow: 0 0 1px #2f3f56;
    transform: translateY(2px);
  }

  .names {
    height:2.5%; 
    width:40%;
    background-color: #e2e2e2;
  }

  ::placeholder {
    color: #2f3f56;
    font-family: sans-serif;
    opacity: 25;
  }

  p {
    color: #ee5d5a;
  }


  textarea::-webkit-input-placeholder {
    color: #ee5d5a;
    opacity: 0.75;
  }
  
  textarea:-moz-placeholder { /* Firefox 18- */
    color: #ee5d5a;
    opacity: 0.75;
  }
  
  textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #ee5d5a;
    opacity: 0.75;
  }
  
  textarea:-ms-input-placeholder {
    color: #ee5d5a;
    opacity: 0.75;
  }
  
  textarea::placeholder {
    color: #ee5d5a;
    opacity: 0.75;
  }

  textarea {
    background-color: #e2e2e2;
    padding: 1em;
    border-radius: 2em/2em;
    font-family: sans-serif;
    color: #2f3f56;
    font-weight: bold;
    resize: none;
  }

  .scroll::-webkit-scrollbar {
    display: none;
  }

  .question {
    text-align: center;
  }